# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual environment
.venv/
venv/

# Environment variables (secrets)
.env
api/.env
*.env.local

# Logs (somente S3)
logs/
api/logs/
*.log

# Test outputs
api/test_outputs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
*.swp
*.swo
*~

# VSCode
.vscode/

# Docker
.dockerignore.local