# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables (secrets)
.env
api/.env

# Logs (somente S3)
logs/
api/logs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Vscode
.vscode/